<table class="table">

  <thead>
    <tr>
      <th>Apartment</th>
      <th>Renter</th>
      <th>Checkin</th>
      <th>Checkout</th>
      <th>Guests</th>
      <th>status</th>
    </tr>
  </thead>

  <tbody>

  <% current_user.apartment_bookings.each do |booking| %>
    <tr>
      <td><%= booking.apartment.title %></td>
      <td><%= booking.user.email %></td>
      <td><%= booking.checkin %></td>
      <td><%= booking.checkout %></td>
      <td><%= booking.guests %></td>
      <td><%= booking.status %></td>
      <% if booking.status == "pending" %>
        <td><%= link_to 'validate', validate_booking_path(booking), method: :patch, class: 'btn btn-success' %></td>
      <% elsif booking.status == "validated" %>
        <td><%= link_to 'cancel', cancel_booking_path(booking), method: :patch, class: 'btn btn-danger' %></td>
        <% elsif booking.status == "canceled" %>
        <td><%= link_to 'validate', validate_booking_path(booking), method: :patch, class: 'btn btn-success' %></td>
      <% end %>
    </tr>
  <% end %>

  </tbody>
</table>