<div class="well">
  <h1>Create a new apartment</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-6">
        <%= form_for @apartment, html: { multipart: true} do |f| %>
          <div class="form-group">
            <%= f.label :title %>
            <%= f.text_field :title, class:"form-control", placeholder:"ex : Beautiful 40sqm studio in the Bastille area"%>
          </div>
          <div class="form-group">
            <%= f.label :description %>
            <%= f.text_area :description, class:"form-control", placeholder:"ex : 2 bedrooms. Kitchen fully equiped."%>
          </div>
          <div class="form-group">
            <%= f.label :address %>
            <%= f.text_field :address, class:"form-control", placeholder:"ex : 34, rue du Petit Musc"%>
          </div>
          <div class="form-group">
            <%= f.label :city %>
            <%= f.text_field :city, class:"form-control", placeholder:"ex : Paris"%>
          </div>
          <div class="form-group">
            <%= f.label :zipcode %>
            <%= f.text_field :zipcode, class:"form-control", placeholder:"ex : 750005"%>
          </div>
          <div class="form-group">
            <%= f.label :country %>
            <%= f.text_field :country, class:"form-control", placeholder:"ex : France"%>
          </div>
          <div class="form-group">
            <%= f.label :price %>
            <%= f.number_field :price, class:"form-control", placeholder:"ex : 110"%>
          </div>
          <%= link_to 'Cancel', apartments_path, class: "btn btn-default"%> <%= f.submit "Submit", class: "btn btn-primary"%>
        <% end %>
        <br>

    </div>
  </div>
</div>
