<div class="well">
  <h1><%= @apartment.title %> - <%= @apartment.price %>$ / night</h1>
  <%-# add a restriction so that only the owner can edit the data -%>
</div>

<div class="container">
  <div class="row">

   <div class="col-xs-4">
    <h3>Photos</h3>

      <div class="carousel-wrapper">
        <div class="carousel">
          <% @apartment.pictures.each do |picture| %>
            <div><%= image_tag picture.picture.url(:medium) %></div>
          <% end %>
        </div>
      </div>
    </div>


    <div class="col-xs-4">

      <h3>Details</h3>

      <p><strong>Description : </strong><%= @apartment.description %></p>
      <p><strong>Adress : </strong><%= @apartment.address %></p>
      <p><strong>Zipcode : </strong><%= @apartment.zipcode %></p>
      <p><strong>City : </strong><%= @apartment.city %></p>
      <p><strong>Country : </strong><%= @apartment.country %></p>

    </div>

    <div class="col-xs-4">

            <h3>Booking</h3>

        <p><strong>Owner : </strong><%= @owner.email %></p>
        <%= form_for([@apartment, @apartment.bookings.build]) do |b| %>

          <p><%= b.label :checkin %>
          <%= b.date_field :checkin %></p>

          <p><%= b.label :checkout %>
          <%= b.date_field :checkout %></p>

          <p><%= b.label :guests %>
          <%= b.number_field :guests %></p>

          <%= b.submit%>

        <% end %>
      </div>
  </div>
</div>




<!-- controllers et views pour afficher les demandes de bookings au proprio et au renter. -->
