<!DOCTYPE html>
<html>
<head>
  <title>DopestAirbnb</title>
  <link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/jquery.slick/1.3.7/slick.css"/>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>

<%= link_to 'Home', root_path %>
<%= link_to 'Apartments listing', apartments_path %>
<%= link_to 'List an apartment', new_apartment_path %>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= render 'layouts/sessions' %>

<%= yield %>

<script type="text/javascript" src="http://cdn.jsdelivr.net/jquery.slick/1.3.7/slick.min.js"/></script>


</body>
</html>
